<!-- beginning of file -->
	
<!-- "MY LISTING" page--> 
<div layout="row" layout-sm="column">

  	<!-- my listing card -->
  	<div flex-gt-sm="33" flex-sm"100">
   	 	<listing-dir ng-repeat="listing in userListings">
   	 	</listing-dir>
 	</div>

    <!-- Update My Listing form -->
  	<div flex="66" flex-sm="100" layout-padding="10" class="updateForm">
  		<div ng-hide="showRemove">Please select a listing to update.
  		</div>

      	<!-- "UPDATE MY LISTING" -->
    	<md-content layout-padding="10" class="border" ng-show="showRemove">
      		<div id="removeDiv">
        		<md-button id="removeBtn" ng-click="removeListing(editListing._id, $event)">Remove Listing<br>
        		</md-button>
      		</div>

      		<div class="updateMyListingTitle">Update My Listing
      		</div>

      		<div class="updateFormBox">
        		<form name="userForm">

	          		<!-- "TITLE" -->
	          		<div layout="column" layout-sm="column">
	            		<md-input-container>
	              			<label>Title
	              			</label>
	              			<input ng-model="editListing.title" columns="1" md-maxlength="30">
	            		</md-input-container>
	          		</div>

		            <!-- "STREET" -->
		          	<div layout="row">
		            	<md-input-container flex="100">
		              		<label>Street
		              		</label>
		              		<input type="text" ng-model="editListing.address.street" md-maxlength="45">
		            	</md-input-container>
		          	</div>

		          	<!-- city, state, zip code row -->
		          	<div layout="row">

		              	<!-- "CITY" -->
		            	<md-input-container flex-gt-md="60" flex-sm="50" flex-md="60">
		              		<label>City
		              		</label>
		              		<input type="text" ng-model="editListing.address.city">
		            	</md-input-container>

		              	<!-- "STATE" -->
		            	<md-select placeholder="State" class="updateState" ng-model="editListing.address.state" flex-gt-md="15" flex-sm="25" flex-md="20">
		              		<md-option ng-repeat="state in states" value="{{state.abbrev}}">{{state.abbrev}}
		              		</md-option>
		            	</md-select>

		              	<!-- "ZIP CODE" -->
		            	<md-input-container flex-gt-md="25" flex-sm="25" flex-md="20">
		              		<label>Zip Code
		              		</label>
		              		<input type="text" ng-model="editListing.address.zip">
		            	</md-input-container>
		          	</div>


		          	<!-- dates & time -->
		          	<div layout="row">

		              	<!-- "START DATE" -->
		            	<md-input-container flex="33">
		              		<label>Start Date
		              		</label>
		              		<input type="date" ng-model="editListing.startDate">
		            	</md-input-container>

		              	<!-- "END DATE" -->
		            	<md-input-container flex="33">
		              		<label>End Date
		              		</label>
		              		<input type="date" ng-model="editListing.endDate">
		            	</md-input-container>

		              	<!-- "START TIME" -->
		            	<md-input-container flex="33">
		              		<label>Start Time
		              		</label>
		              		<input type="time" ng-model="editListing.time">
		            	</md-input-container>
		          	</div> 


		          	<!-- description and submit -->
		          	<div layout="column" layout-sm="column">
		          		<!-- "DESCRIPTION" -->
		            	<md-input-container>
		              		<label>Description
		              		</label>
		              		<textarea ng-model="editListing.description" columns="1" md-maxlength="300">
		              		</textarea>
		            	</md-input-container>

		              	<!-- "SUBMIT" -->
		            	<md-input-container>
		              		<md-button class="submitBtn" ng-click="updateListing(editListing._id, editListing, $event)">Submit
		              		</md-button>
		            	</md-input-container>
		          	</div>

        		</form>
      		</div>
    	</md-content>
  	</div>
</div>

<!-- end of file -->