<!-- beginning of file -->

<div class="about">

	<h1>About Us
	</h1>

	<p> This website was created by four recent graduates (junior developers) and one mid-level graduate from Dev Mountain's 12-week full-time full-stack development bootcamp. Our project was developed in the last two weeks of bootcamp, is the first group project for the four junior developers, and showcases our coding skills. 
	</p>

	<p> We feel passionate about coding and the communities in which we live, which inspired us to deliver this product to meet a community need.
	</p>

	<p> The frontend of the website was developed using Javascript, HTML5, CSS3, Angular.js, and Angular Material Design. The backend stores relevant data using Node.js and MongoDB.  Additionally, the Google Map API was used.
	</p>


	<h3> Questions? 
	</h3>

	<p> We are available for questions and are open to suggestions for improvement to the website.  Please contact us at:
		<a href="jmsnrmnd@gmail.com">jmsnrmnd@gmail.com.
		</a>
	</p>

</div>

<!-- end of file -->